body{
    background-color:plum;
    font-size: 36px;
    margin: 0px;
}

div{
    box-sizing: border-box;
}

div.menu{
    background-color: palevioletred;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    transition: 2s;
}

div.menu:hover{
    background-color: rgb(153, 69, 232);
    border-radius: 50px;
    transition: 2s;
}

img{
    width: 100%;
}

div.intro{
    margin-top: 50px;
}

div.middle{
    margin-top: 400px;
}

div.row{
    display:flex;
    flex-wrap: wrap;
}

div.col{
    outline: 2px solid lemonchiffon;
    height: 1000px;
    padding: 20px;
}

div.width66{
    width: 66.666%;
}

div.width33{
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width25{
    width: 25%;
}

div.Nudenails img{
    animation: circle 20s infinite alternate linear;
}

@keyframes circle{
    0%{
        border-radius: 0%;
        width: 0%;
    }

    100%{
        border-radius: 100%;
        width: 100%;
    }
}