body{
    background-color: blueviolet;
    font-size: 36px;
    margin: 0px;
}

div.{
    box-sizing: border-box;
}

div.row{
    display:flex;
    flex-wrap: wrap;
}

div.col{
    outline: 2px solid cyan;
    height: 1000px;
    padding: 20px;
}

div.width66{
    width: 66.666%;
}

div.width33{
    width: 33.333%;
}

div.width50{
    width: 50%;
}

div.width25{
    width: 25%;
}